@font-face {
	font-family: 'ionicthemes-icons';
	src:url('fonts/ionicthemes-icons.eot?-w2hudc');
	src:url('fonts/ionicthemes-icons.eot?-w2hudc#iefix') format('embedded-opentype'),
		url('fonts/ionicthemes-icons.ttf?-w2hudc') format('truetype'),
		url('fonts/ionicthemes-icons.woff?-w2hudc') format('woff'),
		url('fonts/ionicthemes-icons.svg?-w2hudc#ionicthemes-icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

.ionicthemes-icon- {
	font-family: 'ionicthemes-icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.ionicthemes-icon-timer:before {
	content: "\e1b6";
}
.ionicthemes-icon-alarm_on:before {
	content: "\e26d";
}
.ionicthemes-icon-watch:before {
	content: "\e600";
}
.ionicthemes-icon-watch2:before {
	content: "\e601";
}
.ionicthemes-icon-time:before {
	content: "\e602";
}
.ionicthemes-icon-time2:before {
	content: "\e603";
}
.ionicthemes-icon-medal:before {
	content: "\e604";
}
.ionicthemes-icon-medal2:before {
	content: "\e605";
}
.ionicthemes-icon-tools:before {
	content: "\e606";
}
.ionicthemes-icon-brush:before {
	content: "\e607";
}
.ionicthemes-icon-pig:before {
	content: "\e608";
}
.ionicthemes-icon-star:before {
	content: "\e609";
}
.ionicthemes-icon-clock:before {
	content: "\e60a";
}
.ionicthemes-icon-tools-2:before {
	content: "\e034";
}
.ionicthemes-icon-lab:before {
	content: "\e60b";
}
.ionicthemes-icon-graduate:before {
	content: "\e61e";
}
.ionicthemes-icon-brush2:before {
	content: "\e61f";
}
.ionicthemes-icon-ion-ribbon-a:before {
	content: "\f348";
}
.ionicthemes-icon-ion-ribbon-b:before {
	content: "\f349";
}
.ionicthemes-icon-ion-wrench:before {
	content: "\f2ba";
}
.ionicthemes-icon-ion-ios-star:before {
	content: "\f4b3";
}
.ionicthemes-icon-ionic:before {
	content: "\f14b";
}
.ionicthemes-icon-ionic-outline:before {
	content: "\f44e";
}
.ionicthemes-icon-ion-android-color-palette:before {
	content: "\f37b";
}
.ionicthemes-icon-history:before {
	content: "\e60c";
}
.ionicthemes-icon-clock2:before {
	content: "\e60d";
}
.ionicthemes-icon-stopwatch:before {
	content: "\e60e";
}
.ionicthemes-icon-calendar:before {
	content: "\e60f";
}
.ionicthemes-icon-busy:before {
	content: "\e610";
}
.ionicthemes-icon-hammer:before {
	content: "\e611";
}
.ionicthemes-icon-wand:before {
	content: "\e612";
}
.ionicthemes-icon-gift:before {
	content: "\e613";
}
.ionicthemes-icon-trophy:before {
	content: "\e614";
}
.ionicthemes-icon-rocket:before {
	content: "\e615";
}
.ionicthemes-icon-meter:before {
	content: "\e616";
}
.ionicthemes-icon-star2:before {
	content: "\e617";
}
.ionicthemes-icon-tools2:before {
	content: "\e618";
}
.ionicthemes-icon-trophy2:before {
	content: "\e619";
}
.ionicthemes-icon-clock3:before {
	content: "\e61a";
}
.ionicthemes-icon-hourglass:before {
	content: "\e61b";
}
.ionicthemes-icon-gauge:before {
	content: "\e61c";
}
.ionicthemes-icon-rocket2:before {
	content: "\e61d";
}

