/* FONTS */

@font-face {
	font-family: 'ionicthemes-icons';
	src:url('#{$ionicthemes-font-path}/ionicthemes-icons.eot?4o54f0');
	src:url('#{$ionicthemes-font-path}/ionicthemes-icons.eot?#iefix4o54f0') format('embedded-opentype'),
		url('#{$ionicthemes-font-path}/ionicthemes-icons.ttf?4o54f0') format('truetype'),
		url('#{$ionicthemes-font-path}/ionicthemes-icons.woff?4o54f0') format('woff'),
		url('#{$ionicthemes-font-path}/ionicthemes-icons.svg?4o54f0#ionicthemes-icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="ionicthemes-icon-"], [class*=" ionicthemes-icon-"] {
	font-family: 'ionicthemes-icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-smoothing: antialiased;
}
